<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.5">
	<jsp-config>
		<jsp-property-group>
			<display-name>JSP</display-name>
			<description>Configurações de todos os JSPs</description>
			<url-pattern>*.jsp</url-pattern>
			<scripting-invalid>false</scripting-invalid>
			<el-ignored>false</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<!--  <include-prelude>/header.jsp</include-prelude>
			<include-coda>/footer.jsp</include-coda>  -->
		</jsp-property-group>
	</jsp-config>

	<description>
      INDIANA
    </description>
    <display-name>INDIANA</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

<!-- Pagina de erro geral
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/erro.jsp</location>
	</error-page>
-->
<!-- Pagina de erro de arquivo nao encontrado
	<error-page>
		<error-code>404</error-code>
		<location>/erroPaginaNaoEncontrada.jsp</location>
	</error-page>
-->

	<servlet>
	    <servlet-name>action</servlet-name>
	    <servlet-class>
	        org.apache.struts.action.ActionServlet
	    </servlet-class>
	    <init-param>
	        <param-name>config</param-name>
	        <param-value>
                /WEB-INF/classes/struts-config.xml
	        </param-value>
	    </init-param>
        <init-param>
            <param-name>chainConfig</param-name>
            <param-value>org/apache/struts/tiles/chain-config.xml</param-value>
        </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<session-config>
	   <session-timeout>60</session-timeout>
	</session-config>
</web-app>